<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>core</title>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <label for="name">Group Name: </label>
        <input type="text" name="name" id="" placeholder="Enter Group Name">
        <input type="submit" value="enter" name="" id="" required>
    </form>
    
</body>
</html>